# [required] Root directory used by joblib for caching observational feature arrays.
# Both pseudo-observed and raw snapshot collection series should works.
# See https://github.com/fengshun124/NBODY6-data-pipeline for details about the joblib cache structure.
JOBLIB_ROOT="/path/to/joblib/cache/"

# [required] Base directory for all generated outputs (cached dataset, models' checkpoints, logs, etc.)
OUTPUT_BASE="/path/to/output/directory/"

# [optional] Matplotlib style for plotting.
# Use a built-in style name (see matplotlib.style.library) 
# or a path to file containing custom style settings.
MPL_STYLE="seaborn-v0_8-notebook"